#feedback-bar.alert-box.warning
  span.icon.icon-info-circle
  button.btn-icon-only.close &times;

#dialog-alert.modal(role="dialog", aria-labelledby="dialog-alert-title", aria-hidden="true", data-keyboard="true", data-reveal)
  .modal__header
    button.btn-icon-only.close-reveal-modal(type="button", aria-hidden="true") &times;
    h3#dialog-alert-title
  .modal__body
    p
  .modal__footer
    span.self-destruct-timer
    button.btn.btn-default.close(type="button", aria-hidden="true") Close 

#dialog-confirm.modal(role="dialog", aria-labelledby="dialog-confirm-title", aria-hidden="true", data-keyboard="true", data-reveal)
  .modal__header
    button.btn-icon-only.close-reveal-modal(type="button", aria-hidden="true") &times;
    h3#dialog-confirm-title
  .modal__body
    p.alert-box.error
    p.msg
  .modal__footer
    span.self-destruct-timer
    button.btn.btn-default.negative(type="button", aria-hidden="true") Close
    button.btn.btn-primary.positive(type="button", aria-hidden="true") Confirm

#dialog-print.modal(role="dialog", aria-labelledby="dialog-print-title", aria-hidden="true",  data-keyboard="true", data-reveal)
  .modal__header
    button.btn-icon-only.close-reveal-modal(type="button", aria-hidden="true") &times;
    h3#dialog-confirm-title
    h3.progress= t('confirm.print.progressheading')
  .modal__body
    section.progress
      p= t('confirm.print.progressmsg')
      progress
    section.select-format
      p= t('confirm.print.msg')
      form(onsubmit="return false;" name="print-settings")
        fieldset
          legend= t('confirm.print.psize')
          label
            input(name="format",type="radio",value="A4",required, checked)
            span= t('confirm.print.a4')
          label
            input(name="format",type="radio", value="letter", required)
            span= t('confirm.print.letter')
        fieldset
          legend= t('confirm.print.orientation')
          label 
            input(name="orientation", type="radio", value="portrait", required, checked)
            span= t('confirm.print.portrait')
          label
            input(name="orientation", type="radio", value="landscape", required)
            span= t('confirm.print.landscape')
      p.alert.alert-info= t('confirm.print.reminder')
  .modal__footer
    button.btn.btn-default.negative(type="button", aria-hidden="true") Close
    button.btn.btn-primary.positive(type="button", aria-hidden="true") Prepare

#dialog-save.modal.fade(role="dialog", aria-labelledby="dialog-save-title", aria-hidden="true", data-keyboard="true")
  .modal-dialog
    .modal-content 
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h3#dialog-save-title
      .modal-body
        form(onsubmit="return false;")
          .alert.alert-danger
          label
            span= t('confirm.save.name')
            span.or-hint.active= t('confirm.save.hint') 
            input(name="record-name", type="text", required="required")
      .modal-footer
        span.self-destruct-timer
        button.btn.negative Close
        button.btn.btn-primary.positive Save &amp; Close

