section.form-footer
  .form-footer__content
    .form-footer__content__main-controls
      if draftEnabled
        fieldset.draft.question.simple-select.hide
          .option-wrapper: label.select 
            input.ignore(type='checkbox', name='draft')
            span.option-label= t('formfooter.savedraft.label')
      if type === 'fs'
        button#close-form.btn.btn-default #{t('alert.default.button')}
        button#finish-form.btn.btn-primary
          i.icon.icon-check= ' '
          | #{t('formfooter.complete.btn')}
      else if type === 'preview'
        button#validate-form.btn.btn-primary
          i.icon.icon-check= ' '
          | #{t('formfooter.validate.btn')}
      else if type === 'view'
        button#close-form.btn.btn-default.hide #{t('alert.default.button')}
      else
        button#submit-form.btn.btn-primary
          i.icon.icon-check= ' '
          | #{t('formfooter.submit.btn')}
      a.btn.btn-primary.next-page(href="#")= t('form.pages.next')
      include _logout
      include _enketo-power
      a.previous-page.disabled(href="#")= t('form.pages.back')

    .form-footer__content__jump-nav
      a.btn.btn-default.disabled.first-page(href="#")= t('form.pages.return')
      a.btn.btn-default.disabled.last-page(href="#")= t('form.pages.end')

