extends ../layout

block content

  h1= t("page.modernbrowsers.heading")
  p= t("page.modernbrowsers.msg1") 
  p= t("page.modernbrowsers.msg2")         
    ul
      li: a(href="http://www.google.com/chrome/",title="Chrome download page") Chrome
      li: a(href="http://www.mozilla.com/",title="Firefox download page") Firefox
      li: a(href="http://www.opera.com/", title="Opera download page") Opera
  h2= t("page.modernbrowsers.ie.heading")
  p= t("page.modernbrowsers.ie.msg")
