extends ../layout

block style
  link(rel='stylesheet', media='all', type='text/css' href=`${basePath}${offlinePath || ''}/css/error.css`) 

block script
  if environment == 'production'
    script(src=`${basePath}${offlinePath || ''}/js/build/enketo-offline-fallback-bundle.min.js`)
  else
    script(src=`${basePath}${offlinePath || ''}/js/build/enketo-offline-fallback-bundle.js`)

block content
  h1.error(style="margin-bottom: 0; border-bottom: none; min-height: auto;")= t("page.offline.heading")
  p.error= t("page.offline.msg1") 
