extends ../layout

block head-script
  script
    include component/redirect-IE.js

block style
  // preload for performance
  link(rel='preload', as='font', href=`${basePath}${offlinePath || ''}/fonts/OpenSans-Bold-webfont.woff`, type='font/woff', crossorigin)
  link(rel='preload', as='font', href=`${basePath}${offlinePath || ''}/fonts/OpenSans-Regular-webfont.woff`, type='font/woff', crossorigin)
  link(rel='preload', as='font', href=`${basePath}${offlinePath || ''}/fonts/fontawesome-webfont.woff?v=4.6.2`, type='font/woff', crossorigin)

  // critical styles inline for performance
  style
    include ../../../public/css/common.css

  - var media = print ? 'all' : 'print';
  link(rel='stylesheet', media='all', type='text/css' href=`${basePath}${offlinePath || ''}/css/theme-${defaultTheme}.css`)
  link(rel='stylesheet', media=`${media}`, type='text/css' href=`${basePath}${offlinePath || ''}/css/theme-${defaultTheme}.print.css`)

block script
  - var suffix = (type && type !== 'preview' && type !== 'single') ? '-' + type : ''
    script#main-script(defer, type="module", src=`${basePath}${offlinePath || ''}/js/build/enketo-webform${suffix}.js`)

  script.
    var env = !{JSON.stringify(clientConfig).replace(/<\//g, '<\\/')};

block content
  include component/_notification
  .main-loader
    .main-loader__image
  .main
    article.paper
      include component/_form-header
      | !{form}
      include component/_form-footer
  if offlinePath
    include component/_side-slider
  include component/_feedback-bar
