extends ../layout

block style
  link(rel='stylesheet', media='all', type='text/css' href='/css/theme-#{defaultTheme}.css') 
  link(rel='stylesheet', media='print', type='text/css' href='/css/theme-#{defaultTheme}.print.css') 

block script
  - var suffix = (type && type == "edit") ? "-edit" : ""
  if environment == "production"
    script(src="/js/webform#{suffix}-combined.min.js")
  else
    script(data-main="/js/src/main-webform#{suffix}.js", src="/lib/bower-components/requirejs/require.js")
 
block content
  if manifest
    .alert-box.info(style="text-align: center;") Offline-enabled forms are experimental. Use only for testing. 
      a(href="https://github.com/kobotoolbox/enketo-express/issues") Report new bugs
      | .
  .main
    article.paper
      include component/_form-header
      | !{form}
      unless form
        div.form__loader
      include component/_form-footer
  if manifest
    include component/_side-slider
  include component/_feedback-bar
