extends layout

block style
  link(rel='stylesheet', href='/css/index.css') 

block content
  p= t("home.msg", {appTitle: title, serverName: openrosa})

  p= t("langs.supported")
    each lang in languages
      case lang
        when "en"
          span= t("langs.en")
        when "ar"
          span= t("langs.ar")
        when "es" 
          span= t("langs.es")
        when "sw"
          span= t("langs.sw")
        when "he" 
          span= t("langs.he")
        when "de"
          span= t("langs.de")
        when "hi"
          span= t("langs.hi")
        when "ro"
          span= t("langs.ro")
        when "el"
          span= t("langs.el")
        when "km"
          span= t("langs.km")
        when "th"
          span= t("langs.th")
        when "vi"
          span= t("langs.vi")
        when "no"
          span= t("langs.no")
        when "nl"
          span= t("langs.nl")
        default
          span.lang-placeholder
      if languages[languages.length - 1] !== lang
        span= ', '
      else 
        span= '.'
