extends layout

block content
  p= t("home.msg", {appTitle: title, serverName: openrosa})

  p= t("langs.supported")
    each val in languages
      if val === "en"
        span= t("langs.en") + ', '
      else if val === "ar"
        span= t("langs.ar") + ', '
      else if val === "es" 
        span= t("langs.es") + ', '
      else if val === "sw"
        span= t("langs.sw") + ', '
      else if val === "he" 
        span= t("langs.he") + ', '
      else if val === "de"
        span= t("langs.de") + ', '
      else if val === "hi"
        span= t("langs.hi") + ', '
      else if val === "ro"
        span= t("langs.ro") + ', '
      else if val === "el"
        span= t("langs.el") + ', '
      else if val === "km"
        span= t("langs.km") + ', '
      else if val === "th"
        span= t("langs.th") + ', '
      else if val === "vi"
        span= t("langs.vi") + ', '
      else if val === "nl"
        span= t("langs.nl") + ', '
