doctype html
html(manifest=manifest, lang=language, dir=dir(language))
  head
    title= title

    meta(charset="utf-8")
    meta(name="author", content="Martijn van de Rijdt (Enketo LLC)")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href=`${basePath}/images/favicon.ico`)
    link(rel="icon", type="image/png", sizes="180x180", href=`${basePath}/images/icon_180x180.png`)
    link(rel="apple-touch-icon", sizes="180x180", href=`${basePath}/images/icon_180x180.png`)

    script(src=`${basePath}/js/build/ie11-polyfill.min.js`, nomodule)
    script(src=`${basePath}/js/build/obscure-ie11-polyfills.js`, nomodule)

    block style

    block global

  - var cl = (iframe) ? 'iframe' : ''
  body(class=cl)
    if iframe
      .ios-iframe-bug-wrap
        block content
    else 
      block content

    block script

    if analytics
      include component/analytics

    if livereload
      script(src="//localhost:35729/livereload.js")
